<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Set New Password</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 font-sans">
    <div class="container mx-auto px-4 py-10">
      <div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md">
        <h1 class="text-2xl font-bold text-center mb-6 text-blue-500">
          Set New Password
        </h1>

        {% if error %}
        <div
          class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4"
          role="alert"
        >
          <span class="block sm:inline">{{ error }}</span>
        </div>
        {% endif %}
        {% if message %}
        <div
          class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-4"
          role="alert"
        >
          <span class="block sm:inline">{{ message }}</span>
        </div>
        {% endif %}


        <form method="POST" class="space-y-4">
          {% csrf_token %}
          <div>
            <label
              for="confirm_password"
              class="block text-gray-700 font-medium"
              >New Password</label
            >
            <input
              type="password"
              name="confirm_password"
              id="confirm_password"
              placeholder="Enter your password"
              class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
              required
            />          </div>
          <div>
            <label
              for="id_confirm_password"
              class="block text-gray-700 font-medium"
              >Confirm Password</label
            >
            <input
            type="password"
            name="new_password"
            id="new_password"
            placeholder="Enter your password"
            class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            required
          />          </div>
          <button
            type="submit"
            class="w-full bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 focus:outline-none"
          >
            Reset Password
          </button>
        </form>

        <p class="text-center text-sm text-gray-600 mt-4">
          <a
            href="{% url 'userauth:login' %}"
            class="text-blue-500 hover:underline"
          >
            Back to Login
          </a>
        </p>
      </div>
    </div>
  </body>
</html>
